[Unit]
Description=Phoenix miner
After=network.target

[Service]
User=root
ExecStart=$PHOENIXMINER_LOCATION -cdmport 30800 -coin auto -di 0 -pool $POOL_URL -wal $WALLET.$WORKERNAME -pass x -proto 4 -stales 0 -amd -allpools 0 -cdm 1 -leaveoc -log 0 -rmode 0 -wdog 1
Restart=always

[Install]
WantedBy=multi-user.target
